<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %> 
    <div class="about content">
        <h2>About us</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur nesciunt molestiae illum libero, incidunt nostrum assumenda esse nam nulla mollitia voluptates illo voluptatem eaque iste suscipit tempore alias molestias distinctio?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis reiciendis vero quia dolore sit exercitationem ratione rem autem nisi corrupti. Animi necessitatibus harum in cum quibusdam numquam itaque blanditiis fuga!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem, officia accusamus atque magnam, dolor quia suscipit placeat magni esse nam, quae illum quisquam alias cupiditate impedit iste vel numquam expedita!</p>
    </div>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>